<h1>
  {{title}}
</h1>
<nav>
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/invoices">Invoices</a> |
  <a routerLink = "/invoiceForm">Invoice Form</a> 

</nav>
<router-outlet></router-outlet>